* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f9f5;
    color: #333;
}

/* Header */

header {
    background: #2e7d32;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffe082;
}

/* Hero Section */

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 40px;
    color: #2e7d32;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* Footer */

footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

footer p {
    font-size: 15px;
}
/* Hero Button */
.btn {
    display: inline-block;
    background: #2e7d32;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #1b5e20;
}